folium==0.17.0
fredapi==0.5.2
matplotlib==3.7.1
networkx==3.2.1
numpy==1.24.3
pandas==2.0.2
piecewise_regression==1.5.0
plotly==5.15.0
scikit_learn==1.2.2
scipy==1.14.0
streamlit==1.36.0
streamlit_folium==0.22.0
streamlit_option_menu==0.3.13
